style.
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

nav.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
            a.navbar-brand 菜鸟教程

        .collapse.navbar-collapse
            ul.nav.navbar-nav
                li.active
                    a iOS
                li
                    a android
                li
                    a iOS2