script(src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js')
script(src='https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js')
script(src='https://cdn.jsdelivr.net/npm/dplayer/dist/DPlayer.min.js')

script.
  var player = null
  $(document).ready(function () {
    $('.card-img-top').click(function (e) {
      alert('111')
    })
  })