doctype html
html
    header
        meta(charset="utf-8")
        meta(name='viewport',content='width=device-width,initial-scale=1')
        block title
        include ../includes/style

        link(href='https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js')
        link(href='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js')

    body
        .container
            .row
                .col-md-8
                    h1 Hi #{name} ,age is #{age}
